###
# Page de sécurité
##
olix_security_fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

###
# Profil utilisateur
##
olix_security_profile_edit:
    pattern:  /profile/edit
    defaults: { _controller: "OlixSecurityBundle:Profile:edit" }
olix_security_profile_avatar:
    pattern:  /profile/avatar
    defaults: { _controller: "OlixSecurityBundle:Profile:avatar" }
olix_security_profile_change_password:
    pattern:  /profile/change-password
    defaults: { _controller: "OlixSecurityBundle:Profile:changePassword" }

###
# Gestion des utilisateurs
##
olix_security_manager:
    pattern:  /security
    defaults: { _controller: "OlixSecurityBundle:UserManager:list" }
olix_security_manager_user_list:
    pattern:  /security/users
    defaults: { _controller: "OlixSecurityBundle:UserManager:list" }
olix_security_manager_user_results:
    pattern:  /security/users/results
    defaults: { _controller: "OlixSecurityBundle:UserManager:getResults" }
olix_security_manager_user_create:
    pattern:  /security/users/create
    defaults: { _controller: "OlixSecurityBundle:UserManager:create" }
olix_security_manager_user_edit:
    pattern:  /security/users/edit/{username}
    defaults: { _controller: "OlixSecurityBundle:UserManager:edit" }
    options:
        expose: true
olix_security_manager_user_delete:
    pattern:  /security/users/delete/{username}
    defaults: { _controller: "OlixSecurityBundle:UserManager:delete" }
    options:
        expose: true
olix_security_manager_user_changepwd:
    pattern:  /security/users/change-password/{username}
    defaults: { _controller: "OlixSecurityBundle:UserManager:changePassword" }
    options:
        expose: true

###
# Gestion des groupes
##
olix_security_manager_group_list:
    pattern:  /security/groups
    defaults: { _controller: "OlixSecurityBundle:GroupManager:list" }
olix_security_manager_group_results:
    pattern:  /security/groups/results
    defaults: { _controller: "OlixSecurityBundle:GroupManager:getResults" }
olix_security_manager_group_create:
    pattern:  /security/groups/create
    defaults: { _controller: "OlixSecurityBundle:GroupManager:create" }
olix_security_manager_group_edit:
    pattern:  /security/groups/edit/{id}
    defaults: { _controller: "OlixSecurityBundle:GroupManager:edit" }
    options:
        expose: true
olix_security_manager_group_delete:
    pattern:  /security/groups/delete/{id}
    defaults: { _controller: "OlixSecurityBundle:GroupManager:delete" }
    options:
        expose: true
